extends layout
block content
  .container-fluid
    .jumbotron
      .container
        .row-fluid
          .col-sm-8
            h1 MEED (formerly known as MaRSiPAN)
            p.lead Management of Emergencies in Eating Disorders
          .col-sm-4
            .pull-right
        .row-fluid
          .col-xs-12
            hr
            p.lead A national resource for clinicians caring for the medical aspects of eating disorders
    .row
      .col-sm-6
        h2 What is MEED?
        p The
          a(href="https://www.rcpsych.ac.uk/improving-care/campaigning-for-better-mental-health-policy/college-reports/2022-college-reports/cr233")
            |  MEED report
          |  identified a need amongst clinicians for guidance when managing adults with an eating disorder. It was published in 2022
      .col-sm-6
        h2 Resources for Clinicians
        p The MEED group is committed to establishing best practice through research and audit, the development of clinical guidelines and promoting training in the medical management of eating disorders. It is a growing network for experienced clinicians to share resources, ideas and best practice. The new MEED guidance is accompanied by an app. It is downloadable from Google Play or the Apple app store. It is for children <18y and called Junior MaRSiPAN. In 2023/24 it is expected that this will be replaced by an all age app.
      .col-sm-6
        h2 Unlock code
        p The Junior MaRSiPAN app unlock code is: 
        h3 DrFrasierCrane
      .col-sm-6
        h2 Privacy Policy
        p
          a.btn.btn-default(href='/privacy', role='button') View details »
