extends layout
block content

  div.container
    div.jumbotron
      .h1 Marsipan
      .p Medically at Risk Sick Patients with Anorexia Nervosa
 
  div.footer
    div.container
    .row
    .col-md-8.col-sm-10.col-xs-12
    .pull-right
    .p Developer: eatyourpeas