extends layout
block content
  .container-fluid
    h1 Privacy Policy
      hr
    p The apps available on Google Play and Apple App Store (Junior MaRSiPAN) are tools for clinicians only to assess physical risk in children and young people with eating difficulties. Parents are able to download them as guidance, but not are advised not to use them without the guidance of a professional.
    p The apps do not gather or track any personal data of any kind
    p They comprise: 
    H2 Risk Assessment Tool 
    p This tools aids clinicians to build a list of physical risks by attributing colours (red, amber, green) to different domains.
    p No personal information is stored.
    H2 Percentage median BMI calculator 
    p This uses UK90 growth chart reference data to calculate a percentage median BMI. It requires a date of birth, a sex and 2 dates.
    p These data are not stored or tracked and are for the use of the clinician.