extends layout
block content
  .container-fluid
    .jumbotron
      h1 Our Publications
    hr
    h2
      College reports
    p
      a(href='http://www.rcpsych.ac.uk/usefulresources/publications/collegereports/cr/cr189.aspx')
        Royal College of Psychiatrists (2010) MARSIPAN: Management of Really Sick Patients with Anorexia Nervosa (College Report CR162). Royal College of Psychiatrists.
    p
      Royal College of Psychiatrists (2012) Junior MARSIPAN: Management of Really Sick Patients under 18 with Anorexia Nervosa (College Report CR168). Royal College of Psychiatrists.
    p
      a(href='http://www.rcpsych.ac.uk/usefulresources/publications/collegereports/cr/cr168.aspx')
        Royal College of Psychiatrists (2014) MARSIPAN: Management of Really Sick Patients with Anorexia Nervosa (2nd edn) (College Report CR189). Royal College of Psychiatrists.
    h2
      Books
    p
      Robinson PH & Nichols D (2015) Critical Care for Anorexia Nervosa: The MARSIPAN Guidelines in Practice. Springer.
    h2
      Publications
    p
      Jones WR, Morgan JF, Arcelus J (2013) Refreshment: Managing risk in anorexia nervosa. Advances in Psychiatric Treatment, 19: 201-202.
    p
      Robinson PH (2012) Avoiding deaths in hospital from anorexia nervosa: the MARSIPAN project. Psychiatrist, 36: 109–13.
    h2
      Training courses
    p
      MARSIPAN one-day training course. UCL Life Learning (Paul Robinson)
    p
      Leeds Clinical Nutrition course. University of Leeds (Rhys Jones, Clare Donnelan)
    h2
      Online resources
    p
      a(href='http://www.rcpsych.ac.uk/usefulresources/publications/collegereports/cr/cr189.aspx')
        RCPsych MARSIPAN checklist
    p
      a(href='http://www.rcpsych.ac.uk/pdf/Slides%20to%20use%20in%20UG%20medical%20student%20AN%20talks.pdf')
        RCPsych MARSIPAN training powerpoint training slides
